<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error
            eos totam nisi neque.
        </p>
        <div class="skills">
            <span>Web Design</span>
            <span>Photoshop & Illustrator</span>
            <span>Coding</span>
        </div>
    </div>
</div>
<div>
    <footer>
        <div class="container ">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="mb-3">Nosotros</h4>
                    <a>
                        Onlab puede analizar una gran cantidad de muestras biológicas y cultivos diariamente,
                    </a>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Menu</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Pacientes</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Servicios</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Laboratorio</a></li>
                        <li><a href="">Pruebas</a></li>
                        <li>
                            <a href="">Preguntas frecuentes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Redes Sociales</h4>
                    <div class="social">
                        <a href="https://www.facebook.com/tutoscoders/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    </div>
                    <div class="social">
                        <a href="https://www.youtube.com/channel/UCN10DYsAtXdou8nclweQMDw" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    </div>
                    <div class="social">
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center my-3">
                    <a>Onlab © 2021 |</a>
                    <a href="#">  Aviso de privacidad | Términos y condiciones </a>
                    <a>| Todos los derechos reservados  </a>
                </div>
            </div>
        </div>
    </footer>
</div>